# Node.js and npm
node_modules/
npm-debug.log
yarn-error.log

# Next.js build and development directories
.next/
out/

# Compiled output
dist/
build/
*.tgz

# Local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/

# Dependency lock files
package-lock.json
yarn.lock
